/* Apply basic styling to the body */
body {
    background-color: #fff;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}


#sideMenu {
    flex: 0 0 350px; /* Adjust width as needed */
    padding: 20px;
    box-sizing: border-box;
    height: 100vh; /* Full height */
    background-image:url('https://www.google.com/imgres?imgurl=https%3A%2F%2Fthumbs.dreamstime.com%2Fb%2Fpurple-background-blur-stock-photo-abstract-valentines-day-card-white-blurred-lights-wallpaper-39027887.jpg&tbnid=hhD4vIQCRXK-3M&vet=10CGkQMyiRAWoXChMIiP6a8p_lgwMVAAAAAB0AAAAAEAI..i&imgrefurl=https%3A%2F%2Fwww.dreamstime.com%2Fphotos-images%2Fpurple-background.html&docid=ZeIM_-Nr7jplTM&w=600&h=900&q=purple%20background&ved=0CGkQMyiRAWoXChMIiP6a8p_lgwMVAAAAAB0AAAAAEAI');
    background-size: cover; /* Cover ensures the entire menu is filled */
    background-repeat: no-repeat;
    background-position: center;
    
}

#sideMenu button {
    display: block;
    width: 100%;
    margin-bottom: 10px; /* Spacing between buttons */
}

/* Style for the rest of the content */
#content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
}


/* Style for the main buttons */
button {
    background-color: #7434a4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#createTaskBtn {
    margin-right: 20px; /* Adjust the value as needed */
}

#logoutBtn {
    margin-left: 20px; /* Adjust the value as needed */
}

#saveTaskBtn{
    margin-right: 20px; /* Adjust the value as needed */
}
#cancelTaskBtn{
    margin-right: 20px; /* Adjust the value as needed */
}

button:hover {
    background-color: #5a297a; 
}
/* Style for input fields and textarea */
input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f7f7f7;
}

/* Style for the divs */
div {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
}


#userFeedback {
    color: #7434a4;
    margin-bottom: 20px;
}



h2, h3 {
    color: #7434a4;
}

/* Additional style for the welcome message */
#welcomeUser {
    text-align: left;
    margin-bottom: 15px; /* Adjusted margin-bottom value */
}

#welcomeUser h2 {
    font-size: 28px;
    color: #7434a4;
    margin-bottom: 10px;
}

/* Adjustments for the task form */
#taskForm {
    max-width: 250px; 
    margin: 20px 0 20px 0; /* Aligning form to the left */
    padding: 20px;
    border-radius: 5px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: Adds a subtle shadow for depth */
}


/* Style adjustments for inputs and textarea inside #taskForm to ensure they don't stretch too wide */
#taskForm input[type="text"], 
#taskForm textarea {
    width: 100%; 
    padding: 8px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Task List Container Styles */
#taskList {
    max-width: 500px; /* Adjust width as needed */
    margin: 20px auto; /* Center container on the page */
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Style for elements inside each task */
.task h3, .task p {
    background-color: #f7f7f7;
    padding: 8px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}


