/* Apply basic styling to the body */
body {
   background-color: transparent; 
    color: white;
    font-family: Open Sans;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    align-content: center;
    height:100vh;
    overflow: hidden;
}


#sideMenu {
    flex: 0 0 350px; /* Adjust width as needed */
    padding: 20px;
    box-sizing: border-box;
    background-image: url("https://imgur.com/s8Q4tyP.png");
    background-size: cover; /* Cover ensures the entire menu is filled */
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: flex-start; /* Align children to the start of the flex container */
    align-items: center; 
    height: 100vh;
    

    
}

#sideMenu button {
    width: 200px;
    border-radius: 10px;
    background-color: #433b46;
    color: #e6cef7;
    border: 2px #e6cef7;
    box-shadow: white;
    transition: background-color 0.3s ease;
}
#sideMenu button:hover {
    background-color: #E6E1E5; /* Darker shade for hover */
    color: #56297D; /* Optionally change the text color on hover */

}

#taskContent {
    margin: 20px auto; /* Center container on the page */
    background-color: transparent;
    flex: 1; /* Take up the rest of the vertical space
    width: 700px; /* Adjust width as needed */
   /* max-width: 700px; /* Adjust max-width as needed */
    height: 100vh;
    overflow: auto; /* Allow for scrolling without dragging sidemenu*/
}

/* Style for the rest of the content */
#content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
}

/* Style for the main buttons */
button {
    background-color: #7f39b5;
    color: white;
    border: 2px #e6cef7;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}


#saveTaskBtn{
    margin-right: 20px; /* Adjust the value as needed */
    background-color: #5a297a;
    border-radius: 0;
    color: white;
    
}
#cancelTaskBtn{
    margin-right: 20px; /* Adjust the value as needed */
    background-color: #5a297a;
    border-radius: 0;
    color: white;
}

button:hover {
    background-color: #5a297a; 
}
/* Style for input fields and textarea */
input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f7f7f7;
}

/* Style for the divs */
div {
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
}


#userFeedback {
    color: #7434a4;
    margin-bottom: 20px;
}



h2, h3 {
    color: #7434a4;
}

/* Additional style for the welcome message */
#welcomeUser {
    text-align: left;
    margin-bottom: 10px; /* Adjusted margin-bottom value */
    background-color: transparent;
    margin-right: 20px;
    margin-top: 5px;
}

#welcomeUser h2 {
    font-size: 32px;
    color: #e6cef7;
    margin-bottom: 7px;
}
/* Adjustments for the task form */
#taskForm {
    max-width: 300px; 
    margin: 20px 0 20px 0; /* Aligning form to the left */
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    border-color: #7434a4;
   
}
 #taskForm button {
    background-color: #7434a4;
    color: white;
   
}

   

/* Style adjustments for inputs and textarea inside #taskForm to ensure they don't stretch too wide */
#taskForm input[type="text"], 
#taskForm textarea {
    width: 100%; 
    padding: 8px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #7434a4;
    box-sizing: border-box;
    background-color: transparent;
    color: #343434;
}
#taskForm select {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #7434a4;
    box-sizing: border-box;
    background-color: transparent;
    color: #343434;
}

#filter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px auto; /* Center container on the page */
    background-color: rgba(119, 16, 180, 0.87);
    height: 30px;
    width:640px;
    padding: 10px;
    border-radius: 5px;
    gap : 20px;
   
    }
    

/* Task List Container Styles */
#taskList {
    margin: 20px auto; /* Center container on the page */
    background-color: transparent;
    /*width: 600px;*/
    max-width: 670px;
    min-height: 200px;
    
}


/* Style for elements inside each task */
.task h3, .task p {
   
    padding: 8px;
    margin: 8px 0;
    border-radius: 4px;
    background-color: transparent;
    color: rgb(3, 3, 3);
}
/* Style for individual tasks */
.task {
    border: 4px solid #a2a1a1; 
    box-shadow: 0 4px 8px rgba(141, 140, 140, 0.1); 
    border-radius: 10px; 
    padding: 5px;
    margin-bottom: 5px; /* Space between each task */
   background-color: #eeecec;
   
}

.task label {
    display: block;
    margin-top: 10px;
    color: #7434a4;
    font-weight: bold;
}

.task input[type="text"], .task textarea {
    width: calc(100% - 24px);
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    background-color: #fff;
}

#filterBtn{
    background-color: #fff;
    color: #7f39b5;

}
#filterBtn:hover {
    background-color: #5a297a;
    color: #fff;
}

.completed-button-style {
    background-color: green;
    color: white;
    border: none; /* Add other styling as needed */
}

#reminderForm {
    max-width: 300px; 
    margin: 20px 0 20px 0; /* Aligning form to the left */
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    border-color: #7434a4;
 
   
}
 #reminderForm button {
    margin-right: 10px;
    background-color: #7434a4;
    color: white;
    border: 2px #e6cef7;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;

}
#reminderForm input[type="text"], 
#reminderForm textarea {
    width: 100%; 
    padding: 8px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #7434a4;
    box-sizing: border-box;
    background-color: transparent;
    color: #343434;
}
#userFeedback{
    background-color: white;
    color: red;

}


