/* Apply basic styling to the body */
body {
   background-color: transparent; 
    color: white;
    font-family: Open Sans;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1603346133929-24265debae88?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover; /* Cover ensures the entire menu is filled */
    background-repeat: no-repeat;
}



#sideMenu {
    flex: 0 0 350px; /* Adjust width as needed */
    padding: 20px;
    box-sizing: border-box;
    background-image: url("https://digwallpapers.com/wallpapers/full/2/f/d/86300-2160x3840-purple-and-black-background-photo-phone-4k.jpg");
    background-size: cover; /* Cover ensures the entire menu is filled */
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: flex-start; /* Align children to the start of the flex container */
    align-items: stretch; /
}

#sideMenu button {
    display: block;
    width: 100%;
    margin-bottom: 10px; /* Spacing between buttons */
    background-color: transparent;
    color: #7434a4;
    border: 2px solid #7434a4;
}
#sideMenu button:hover {
    background-color: #E6E1E5; /* Darker shade for hover */
    color: #56297D; /* Optionally change the text color on hover */

}

/* Style for the rest of the content */
#content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
}

/* Style for the main buttons */
button {
    background-color: #7434a4;
    color: #171717;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}


#saveTaskBtn{
    margin-right: 20px; /* Adjust the value as needed */
    background-color: #5a297a;
    
}
#cancelTaskBtn{
    margin-right: 20px; /* Adjust the value as needed */
    background-color: #5a297a;
}

button:hover {
    background-color: #5a297a; 
}
/* Style for input fields and textarea */
input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f7f7f7;
}

/* Style for the divs */
div {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}


#userFeedback {
    color: #7434a4;
    margin-bottom: 20px;
}



h2, h3 {
    color: #7434a4;
}

/* Additional style for the welcome message */
#welcomeUser {
    text-align: left;
    margin-bottom: 15px; /* Adjusted margin-bottom value */
    background-color: transparent;
    margin-right: 20px;
}

#welcomeUser h2 {
    font-size: 32px;
    color: #7434a4;
    margin-bottom: 7px;
}

/* Adjustments for the task form */
#taskForm {
    max-width: 300px; 
    margin: 20px 0 20px 0; /* Aligning form to the left */
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    border-color: #7434a4;
   
}
 #taskForm button {
    background-color: #7434a4;
    color: #181818;
   
}

   

/* Style adjustments for inputs and textarea inside #taskForm to ensure they don't stretch too wide */
#taskForm input[type="text"], 
#taskForm textarea {
    width: 100%; 
    padding: 8px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #7434a4;
    box-sizing: border-box;
    background-color: transparent;
    color: #343434;
}

/* Task List Container Styles */
#taskList {
    margin: 20px auto; /* Center container on the page */
    background-color: transparent; 
    max-width: 600px; 
    min-height: 200px;
}


/* Style for elements inside each task */
.task h3, .task p {
    background-color: rgb(242, 240, 240);
    padding: 8px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #171717;
}
/* Style for individual tasks */
.task {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 5px; /* Space between each task */
   
}

.task label {
    display: block;
    margin-top: 10px;
    color: #7434a4;
    font-weight: bold;
}

.task input[type="text"], .task textarea {
    width: calc(100% - 24px);
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    background-color: #fff;
}

.completed-button-style {
    background-color: rgb(158, 157, 157);
    color: rgb(12, 12, 12);
    border: none; /* Add other styling as needed */
}

